<!DOCTYPE html>
<html>
<head>
    <title>Interviews</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">

    <h2>Placement Portal</h2>

    <div>

        <a href="/dashboard">Dashboard</a>
        <a href="/jobs">Jobs</a>
        <a href="/saved_jobs">Saved Jobs</a>
        <a href="/interviews">Interviews</a>
        <a href="/notifications">Notifications</a>
        <a href="/my_applications">Applications</a>
        <a href="/profile">Profile</a>

        {% if profile_photo %}

            <img
            src="{{ url_for('static',
            filename='profile_photos/' + profile_photo) }}"
            width="40"
            height="40"
            style="border-radius:50%; object-fit:cover;">

        {% endif %}

        <a href="/logout">Logout</a>

        <button onclick="darkMode()" class="dark-btn">
            🌙
        </button>

    </div>

</div>

<h1>My Interviews</h1>

<div class="box wide-box">

    {% if interviews %}

        {% for interview in interviews %}

            <div class="job-card">

                <h3>{{ interview[0] }}</h3>

                <p>Role: {{ interview[1] }}</p>

                <p>Date: {{ interview[2] }}</p>

                <p>Time: {{ interview[3] }}</p>

                <p>
                    Meeting Link:
                    <a href="{{ interview[4] }}"
                       target="_blank">
                        Join Interview
                    </a>
                </p>

                <p>
                    Status:
                    <span class="status-badge pending-badge">
                        {{ interview[5] }}
                    </span>
                </p>

            </div>

        {% endfor %}

    {% else %}

        <div class="empty-state">

            <h3>No Interviews Scheduled</h3>

            <p>
                Your scheduled interviews will appear here.
            </p>

        </div>

    {% endif %}

</div>

<footer>
    Developed by Tharun
</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>